# Quiz 1 
By Kasper Primdal Lauritzen, October 2015.
Getting and Cleaning Data on Coursera

Attempt to use Python instead of R

In [115]:
import numpy as np
import pandas as pd

## Question 1
>The American Community Survey distributes downloadable data about United States communities. Download the 2006 microdata survey about housing for the state of Idaho using download.file() from here:

>https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06hid.csv

>and load the data into R. The code book, describing the variable names is here:

>https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FPUMSDataDict06.pdf

>How many properties are worth $1,000,000 or more? 

-----
I have downloaded this file as `acs.csv`

In [116]:
acs = pd.read_csv("acs.csv")
acs.info()
acs.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6496 entries, 0 to 6495
Columns: 188 entries, RT to wgtp80
dtypes: float64(97), int64(90), object(1)
memory usage: 9.4+ MB

,SERIALNO,DIVISION,PUMA,REGION,ST,ADJUST,WGTP,NP,TYPE,ACR,...,wgtp71,wgtp72,wgtp73,wgtp74,wgtp75,wgtp76,wgtp77,wgtp78,wgtp79,wgtp80
count,6496.000000,6496,6496.000000,6496,6496,6496,6496.000000,6496.000000,6496.000000,5501.000000,...,6496.000000,6496.00000,6496.00000,6496.000000,6496.000000,6496.000000,6496.000000,6496.000000,6496.000000,6496.000000
mean,684133.681342,8,486.222291,4,16,1015675,94.781866,2.298491,1.069581,1.357026,...,94.791564,94.77694,94.77186,94.780172,94.769243,94.786330,94.783867,94.773399,94.775400,94.777401
std,390654.681410,0,270.498896,0,0,0,73.523809,1.563549,0.315509,0.624471,...,92.988570,95.56488,91.49636,93.275930,92.415760,92.950416,92.465471,94.253192,92.665848,97.097489
min,186.000000,8,100.000000,4,16,1015675,0.000000,0.000000,1.000000,1.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,346441.500000,8,300.000000,4,16,1015675,50.000000,1.000000,1.000000,1.000000,...,30.000000,29.00000,31.00000,30.000000,30.000000,30.000000,30.000000,30.000000,31.000000,28.000000
50%,686950.000000,8,500.000000,4,16,1015675,83.000000,2.000000,1.000000,1.000000,...,74.000000,73.00000,75.00000,74.000000,75.000000,75.000000,74.000000,73.000000,74.000000,72.000000
75%,1024785.250000,8,700.000000,4,16,1015675,115.000000,3.000000,1.000000,2.000000,...,126.000000,125.00000,124.00000,124.000000,125.000000,124.000000,125.000000,125.000000,124.000000,126.000000
max,1358490.000000,8,900.000000,4,16,1015675,588.000000,11.000000,3.000000,3.000000,...,918.000000,891.00000,832.00000,1023.000000,880.000000,815.000000,908.000000,1010.000000,847.000000,897.000000

Looking into the code book I see that `VAL` is the column describing value. It is a categorical variable, and `24` represents a property value above $1,000,000.

In [117]:
values = acs['VAL']
sum(values == 24)

53

## Question 2
>Use the data you loaded from Question 1. Consider the variable FES in the code book. Which of the "tidy data" principles does this variable violate? 

It has more than one variable per column

## Question 3
> Download the Excel spreadsheet on Natural Gas Aquisition Program here:

> https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2FDATA.gov_NGAP.xlsx

> Read rows 18-23 and columns 7-15 into R and assign the result to a variable called:

> `dat` 

>What is the value of:

> `sum(dat$Zip*dat$Ext,na.rm=T) `

>(original data source: http://catalog.data.gov/dataset/natural-gas-acquisition-program)

In [118]:
xl = pd.ExcelFile("NGAP.xlsx")
NGAP = xl.parse(xl.sheet_names[0], skiprows=17)
NGAP.describe()

,StateAbbrev,CName,Address1,Address2,Address3,City,Zip,CuCurrent,PaCurrent,PoCurrent,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
count,67,47,28,30,23,15,24,17,14,23,...,8,2,6,6.000,6.0,1,6,6,6,6.00
unique,50,36,24,21,23,12,23,9,6,14,...,4,2,6,6.000,3.0,1,6,2,6,6.00
top,2007-05-01 00:00:00.000,Uploaded/Verified,2007,7,InvFileName,AR,74136,0,0,0,...,0,Supp_Misc_fee,Supp_FinalVolume,350.152,7.5,CU_Year,5,VA0003ZZ,Total_FinalCost,10.22
freq,5,5,5,5,1,3,2,7,6,10,...,5,1,1,1.000,4.0,1,1,5,1,1.00

In [119]:
# Select 5 rows
dat = NGAP[:5]

In [120]:
(dat.Zip * dat.Ext).sum()

36534720

# Question 4
> Read the XML data on Baltimore restaurants from here:

>https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Frestaurants.xml

>How many restaurants have zipcode 21231?

In [121]:
from lxml import etree

In [122]:
parsed = etree.parse(open("getdata%2Fdata%2Frestaurants.xml", 'r'))
root = parsed.getroot()

In [123]:
zips = root.findall(".//zipcode")

In [124]:
counter = 0
target = "21231"
for el in zips:
    if  el.text == target:
        counter += 1
print counter

127

## Question 5
> The American Community Survey distributes downloadable data about United States communities. Download the 2006 microdata survey about housing for the state of Idaho using download.file() from here:

>https://d396qusza40orc.cloudfront.net/getdata%2Fdata%2Fss06pid.csv

>using the fread() command load the data into an R object

> `DT` 

>Which of the following is the fastest way to calculate the average value of the variable

>`pwgtp15 `

>broken down by sex using the data.table package? 

`sapply` is the fasted method.